<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />


  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-50 p-4">
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered text-center">
          <col>
          <colgroup span="2"></colgroup>
          <colgroup span="2"></colgroup>
          <tr>
            <th colspan="12" scope="colgroup">Học viên</th>
            <td colspan="5">Môn ATCSDL</td>
            <td colspan="5">Môn ATCSDL</td>
            <td colspan="5">Môn ATCSDL</td>
          </tr>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã học viên</th>
            <th scope="col">Họ đệm</th>
            <th scope="col">Tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Tổng TC</th>
            <th scope="col">Số TCTB</th>
            <th scope="col">STCTLN</th>
            <th scope="col">DTBC</th>
            <th scope="col">DCTB(10)</th>
            <th scope="col">Số môn KD</th>
            <th scope="col">Số TC KD</th>
            <th scope="col">TP1</th>
            <th scope="col">TP2</th>
            <th scope="col">THI</th>
            <th scope="col">TKHP</th>
            <th scope="col">Chữ</th>
            <th scope="col">TP1</th>
            <th scope="col">TP2</th>
            <th scope="col">THI</th>
            <th scope="col">TKHP</th>
            <th scope="col">Chữ</th>
            <th scope="col">TP1</th>
            <th scope="col">TP2</th>
            <th scope="col">THI</th>
            <th scope="col">TKHP</th>
            <th scope="col">Chữ</th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>AT160541</td>
            <td>Văn Hoàng</td>
            <td>Phúc</td>
            <td>AT16E</td>
            <td>9</td>
            <td>9</td>
            <td>3</td>
            <td>7</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>AT160541</td>
            <td>Văn Hoàng</td>
            <td>Phúc</td>
            <td>AT16E</td>
            <td>9</td>
            <td>9</td>
            <td>3</td>
            <td>7</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

  </script>
  <!-- JavaScript Libraries -->
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>